<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- Only include the fragment (no <html> or <body> tags) -->
<header th:fragment="header">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Emily's Dashboard</a>
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/interactive">Interactive</a>
        <a class="nav-link" href="/galleria">Gallery</a>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/surprises}">
            Event Calendar</a>
        </li>
        <a href="/open-when" class="nav-link">Open When Letters</a>
        <a class="nav-link" href="/spotify">Spotify</a>
        <li class="nav-item" sec:authorize="isAuthenticated()">
          <form th:action="@{/logout}" method="post" class="d-inline">
            <button type="submit" class="nav-link btn btn-link">
              Logout<!-- Optional icon -->
            </button>
          </form>
        </li>
      </div>
    </div>
  </nav>
  <script th:src="@{/js/header.js}"></script>
</header>