<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/interactive.css" rel="stylesheet">
    <script type="module" src="/js/app.js"></script>

    <script id="compliments-data" type="application/json" th:utext="${complimentsJson}"></script>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<div class="container mt-4">
    <h1>For You, Mi vida</h1>

    <div class="p-3 mb-2 bg-secondary bg-gradient text-white">
        Welcome mi amor, this is the interactive page
        <br /><br />
        If I plan to experiment with animatons, games and such they'll be here for you
        <br /><br />
        yes, I still Love and Miss you
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Click for a fact</h5>
            <button id="complimentBtn" class="btn btn-success">Click if you are (emi)Lee</button>
            <p id="complimentText" class="mt-2"></p>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Memory Quiz</h5>
            <p>Where did we have our first date?</p>
            <button class="btn btn-outline-primary quiz-answer">palacio de los jugos</button>
            <button class="btn btn-outline-primary quiz-answer" id="correct-answer">Thaikyo (Thai and Sushi)</button>
            <button class="btn btn-outline-primary quiz-answer">Je ne sais pas</button>
            <p id="quizResult" class="mt-2 text-success"></p>
        </div>
        <div class="card-body">
            <p>What is true?</p>
            <button class="btn btn-outline-primary quiz-answer2" id="correct-answer2">I Love you</button>
            <button class="btn btn-outline-primary quiz-answer2" id="correct-answer2">I want to hug and hold you</button>
            <button class="btn btn-outline-primary quiz-answer2" id="correct-answer2">I will always be there for you</button>
            <p id="quizResult2" class="mt-2 text-success"></p>
        </div>
        <div class="card-body">
            <p>What is Lee's favorite activity?</p>
            <button class="btn btn-outline-primary quiz-answer3" id="correct-answer3">Climbing</button>
            <button class="btn btn-outline-primary quiz-answer3">running</button>
            <button class="btn btn-outline-primary quiz-answer3">bench pressing</button>
            <p id="quizResult3" class="mt-2 text-success"></p>
        </div>
        <div class="card-body">
            <p>What is the capital of Kazakhstan?</p>
            <button class="btn btn-outline-primary quiz-answer4" id="correct-answer4">Astana</button>
            <button class="btn btn-outline-primary quiz-answer4">Venice</button>
            <button class="btn btn-outline-primary quiz-answer4">Famous beach and tourist spot Lantana, Florida</button>
            <p id="quizResult4" class="mt-2 text-success"></p>
        </div>
        <div class="card-body">
            <p>What is Lee's favorite animal?</p>
            <button class="btn btn-outline-primary quiz-answer5">You are stupid to think any one person has one favorite animal</button>
            <button class="btn btn-outline-primary quiz-answer5">Bold of you to assume people have favorite animals</button>
            <button class="btn btn-outline-primary quiz-answer5" id="correct-answer5">Frogs</button>
            <p id="quizResult5" class="mt-2 text-success"></p>
        </div>
        <div class="card-body">
            <p>Lee's favorite stand?</p>
            <button class="btn btn-outline-primary quiz-answer6">Echo's act 1,2, or 3 (Koichi's stand)</button>
            <button class="btn btn-outline-primary quiz-answer6">Star Platinum (Jotaro's stand)</button>
            <button class="btn btn-outline-primary quiz-answer6" id="correct-answer6">Purple Haze (Fugo's stand)</button>
            <p id="quizResult6" class="mt-2 text-success"></p>
        </div>
        <div class="card-body">
            <p>What was the first show we watched together?</p>
            <button class="btn btn-outline-primary quiz-answer7">Yu-Gi-Oh!</button>
            <button class="btn btn-outline-primary quiz-answer7" id="correct-answer7">Shogun</button>
            <button class="btn btn-outline-primary quiz-answer7">La Rosa de Guadalupe</button>
            <p id="quizResult7" class="mt-2 text-success"></p>
        </div>
        <div class="card-body">
            <p>What side of the bed does Lee prefer?</p>
            <button class="btn btn-outline-primary quiz-answer8">The one farthest from any screen</button>
            <button class="btn btn-outline-primary quiz-answer8">The left side</button>
            <button class="btn btn-outline-primary quiz-answer8" id="correct-answer8">The side closest to the door</button>
            <p id="quizResult8" class="mt-2 text-success"></p>
        </div>
        <div class="card-body">
            <p>What is potentially our most inside joke?</p>
            <button class="btn btn-outline-primary quiz-answer9">Insert slur here</button>
            <button class="btn btn-outline-primary quiz-answer9" id="correct-answer9">Charlie Hitler</button>
            <button class="btn btn-outline-primary quiz-answer9">I Suppose</button>
            <p id="quizResult9" class="mt-2 text-success"></p>
        </div>
        <div class="card-body">
            <p>What was Lee's first console?</p>
            <button class="btn btn-outline-primary quiz-answer10" id="correct-answer10">Gameboy Advance SP</button>
            <button class="btn btn-outline-primary quiz-answer10">Wii</button>
            <button class="btn btn-outline-primary quiz-answer10">PS2</button>
            <p id="quizResult10" class="mt-2 text-success"></p>
        </div>
    </div>

    <div class="constellation-container card mt-3">
        <h5 class = "star-header">How you make me feel (click on a star mi amor)</h5>
        <div class="night-sky">
        </div>
        <div class="reason-display">
            <p class="handwritten-text"></p>
        </div>
        <audio id="harpAudio" src="/audios/soft-harp.mp3" preload="auto"></audio>
    </div>

</div>

<div th:insert="~{fragments/footer :: footer}"></div>

</body>
</html>