<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open When...</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/open-when.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<div class="container mt-4">
    <h1>Open When... </h1>

    <div class="p-3 mb-2 bg-secondary bg-gradient text-white">
        Mi amor, these are special letters for different moments in your life.
        Click on an envelope to open a letter for when you need it most.
        <br /><br />
        Each one contains my thoughts, feelings, and memories for that specific moment.
    </div>

    <div class="row mt-4">
        <!-- Letter 1 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 envelope-card" onclick="openLetter('miss-me')">
                <img src="/images/envelope.png" class="card-img-top" alt="Envelope">
                <div class="card-body">
                    <h5 class="card-title text-center">You Miss Me</h5>
                </div>
            </div>
        </div>

        <!-- Letter 2 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 envelope-card" onclick="openLetter('need-love')">
                <img src="/images/envelope.png" class="card-img-top" alt="Envelope">
                <div class="card-body">
                    <h5 class="card-title text-center">You Need Love</h5>
                </div>
            </div>
        </div>

        <!-- Letter 3 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 envelope-card" onclick="openLetter('feel-bad')">
                <img src="/images/envelope.png" class="card-img-top" alt="Envelope">
                <div class="card-body">
                    <h5 class="card-title text-center">Feel Bad</h5>
                </div>
            </div>
        </div>

        <!-- Letter 4 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 envelope-card" onclick="openLetter('are-happy')">
                <img src="/images/envelope.png" class="card-img-top" alt="Envelope">
                <div class="card-body">
                    <h5 class="card-title text-center">Are Happy</h5>
                </div>
            </div>
        </div>

        <!-- Letter 5 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 envelope-card" onclick="openLetter('are-anxious')">
                <img src="/images/envelope.png" class="card-img-top" alt="Envelope">
                <div class="card-body">
                    <h5 class="card-title text-center">Are Anxious</h5>
                </div>
            </div>
        </div>

        <!-- Letter 6 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 envelope-card" onclick="openLetter('feel-shame')">
                <img src="/images/envelope.png" class="card-img-top" alt="Envelope">
                <div class="card-body">
                    <h5 class="card-title text-center">Feel Shame</h5>
                </div>
            </div>
        </div>
        <!-- Letter 7 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 envelope-card" onclick="openLetter('struggle-with-school')">
                <img src="/images/envelope.png" class="card-img-top" alt="Envelope">
                <div class="card-body">
                    <h5 class="card-title text-center">Struggle with School/Work</h5>
                </div>
            </div>
        </div>

        <!-- Letter 8 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 envelope-card" onclick="openLetter('struggle-with-family')">
                <img src="/images/envelope.png" class="card-img-top" alt="Envelope">
                <div class="card-body">
                    <h5 class="card-title text-center">Struggle with Family/Friends</h5>
                </div>
            </div>
        </div>

        <!-- Letter 9 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 envelope-card" onclick="openLetter('struggling-with-yourself')">
                <img src="/images/envelope.png" class="card-img-top" alt="Envelope">
                <div class="card-body">
                    <h5 class="card-title text-center">Struggle with Yourself</h5>
                </div>
            </div>
        </div>

        <!-- Letter 10 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 envelope-card" onclick="openLetter('feel-great')">
                <img src="/images/envelope.png" class="card-img-top" alt="Envelope">
                <div class="card-body">
                    <h5 class="card-title text-center">Feel Great</h5>
                </div>
            </div>
        </div>

        <!-- Letter 11 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 envelope-card" onclick="openLetter('feel-hungry')">
                <img src="/images/envelope.png" class="card-img-top" alt="Envelope">
                <div class="card-body">
                    <h5 class="card-title text-center">Feel Hungry</h5>
                </div>
            </div>
        </div>

        <!-- Letter 12 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 envelope-card" onclick="openLetter('feel-proud')">
                <img src="/images/envelope.png" class="card-img-top" alt="Envelope">
                <div class="card-body">
                    <h5 class="card-title text-center">Feel Proud</h5>
                </div>
            </div>
        </div>

        <!-- Letter 13 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 envelope-card" onclick="openLetter('no-sleep')">
                <img src="/images/envelope.png" class="card-img-top" alt="Envelope">
                <div class="card-body">
                    <h5 class="card-title text-center">Can't Sleep</h5>
                </div>
            </div>
        </div>

        <!-- Letter 14 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 envelope-card" onclick="openLetter('want-me-close')">
                <img src="/images/envelope.png" class="card-img-top" alt="Envelope">
                <div class="card-body">
                    <h5 class="card-title text-center">Want Me Close</h5>
                </div>
            </div>
        </div>

        <!-- Letter 15 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 envelope-card" onclick="openLetter('want-to-laugh')">
                <img src="/images/envelope.png" class="card-img-top" alt="Envelope">
                <div class="card-body">
                    <h5 class="card-title text-center">Want To Laugh</h5>
                </div>
            </div>
        </div>

        <!-- Letter 16 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 envelope-card" onclick="openLetter('think-future')">
                <img src="/images/envelope.png" class="card-img-top" alt="Envelope">
                <div class="card-body">
                    <h5 class="card-title text-center">Think About Our Future</h5>
                </div>
            </div>
        </div>

        <!-- Letter 17 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 envelope-card" onclick="openLetter('feel-lonely')">
                <img src="/images/envelope.png" class="card-img-top" alt="Envelope">
                <div class="card-body">
                    <h5 class="card-title text-center">Feel Lonely</h5>
                </div>
            </div>
        </div>

        <!-- Letter 18 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 envelope-card" onclick="openLetter('need-motivation')">
                <img src="/images/envelope.png" class="card-img-top" alt="Envelope">
                <div class="card-body">
                    <h5 class="card-title text-center">Need Motivation</h5>
                </div>
            </div>
        </div>

        <!-- Letter 19 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 envelope-card" onclick="openLetter('are-far')">
                <img src="/images/envelope.png" class="card-img-top" alt="Envelope">
                <div class="card-body">
                    <h5 class="card-title text-center">Are Physically Far</h5>
                </div>
            </div>
        </div>

        <!-- Letter 20 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 envelope-card" onclick="openLetter('feel-crazy')">
                <img src="/images/envelope.png" class="card-img-top" alt="Envelope">
                <div class="card-body">
                    <h5 class="card-title text-center">Feel Crazy</h5>
                </div>
            </div>
        </div>

        <!-- Letter 21 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 envelope-card" onclick="openLetter('feel-stupid')">
                <img src="/images/envelope.png" class="card-img-top" alt="Envelope">
                <div class="card-body">
                    <h5 class="card-title text-center">Feel Stupid</h5>
                </div>
            </div>
        </div>

        <!-- Letter 22 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 envelope-card" onclick="openLetter('feel-unheard')">
                <img src="/images/envelope.png" class="card-img-top" alt="Envelope">
                <div class="card-body">
                    <h5 class="card-title text-center">Feel Unheard</h5>
                </div>
            </div>
        </div>

        <!-- Letter 23 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 envelope-card" onclick="openLetter('stomach-hurts')">
                <img src="/images/envelope.png" class="card-img-top" alt="Envelope">
                <div class="card-body">
                    <h5 class="card-title text-center">Stomach Hurts</h5>
                </div>
            </div>
        </div>

        <!-- Letter 24 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 envelope-card" onclick="openLetter('feel-like-child')">
                <img src="/images/envelope.png" class="card-img-top" alt="Envelope">
                <div class="card-body">
                    <h5 class="card-title text-center">Feel Like A Child</h5>
                </div>
            </div>
        </div>

        <!-- Letter 25 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 envelope-card" onclick="openLetter('feel-judged')">
                <img src="/images/envelope.png" class="card-img-top" alt="Envelope">
                <div class="card-body">
                    <h5 class="card-title text-center">Feel Judged</h5>
                </div>
            </div>
        </div>

        <!-- Letter 26 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 envelope-card" onclick="openLetter('feel-blamed')">
                <img src="/images/envelope.png" class="card-img-top" alt="Envelope">
                <div class="card-body">
                    <h5 class="card-title text-center">Feel Blamed</h5>
                </div>
            </div>
        </div>

        <!-- Letter 27 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 envelope-card" onclick="openLetter('feel-stuck')">
                <img src="/images/envelope.png" class="card-img-top" alt="Envelope">
                <div class="card-body">
                    <h5 class="card-title text-center">Feel Stuck</h5>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Letter Modals -->
<!-- Letter 1 -->
<div id="miss-me" class="letter-modal">
    <div class="letter-content">
        <div class="modal-header">
            <h2 class="modal-title">When You Miss Me</h2>
            <button type="button" class="btn-close" onclick="closeModal('miss-me')"></button>
        </div>
        <div class="modal-body">
            <div class="letter-paper p-4">
                <p>My love,</p>
                <p>When you miss me, remember...</p>
                <div class="letter-paper">
                    <p>My dearest Lee,</p>
                    <p>When you miss me, remember that afternoon when we went climbing, we weren't even dating yet and I was head over heels</p>
                    <p>Every second apart is just counting down until I can kiss you again</p>
                    <p>I Miss you mi vida</p>
                    <p>Forever yours,</p>
                    <p>Antonio</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Letter 2 -->
<div id="need-love" class="letter-modal">
    <div class="letter-content">
        <div class="modal-header">
            <h2 class="modal-title">When You Need Love</h2>
            <button type="button" class="btn-close" onclick="closeModal('need-love')"></button>
        </div>
        <div class="modal-body">
            <div class="letter-paper p-4">
                <p>My love,</p>
                <p>When you need Love, remember...</p>
                <div class="letter-paper">
                    <p>My dearest Lee,</p>
                    <p>When you need Love from me, remember that I would do anything for you,</p>
                    <p>I am always going to give you all the Love I can offer, I can only ever hope it's enough</p>
                    <p>You can always text or call me if and when you need me, I will be there, I want to give you the world</p>
                    <p>Forever yours,</p>
                    <p>Antonio</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Letter 4 -->
<div id="are-happy" class="letter-modal">
    <div class="letter-content">
        <div class="modal-header">
            <h2 class="modal-title">When You Are Happy</h2>
            <button type="button" class="btn-close" onclick="closeModal('are-happy')"></button>
        </div>
        <div class="modal-body">
            <div class="letter-paper p-4">
                <p>My love,</p>
                <p>When you are happy, remember...</p>
                <div class="letter-paper">
                    <p>My dearest Lee,</p>
                    <p>When you are happy, I am happy for you,</p>
                    <p>Seeing your happy smile, seeing you laugh and emote the way you do makes me want to keep you like that forever</p>
                    <p>When I see you eat food you enjoy, when I see you laugh at my comically unfunny (or worse, your unfunny) jokes,</p>
                    <p>I can't help but want to kiss you and preserve it as long as I can</p>
                    <p>Forever yours,</p>
                    <p>Antonio</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Letter 3 -->
<div id="feel-bad" class="letter-modal">
    <div class="letter-content">
        <div class="modal-header">
            <h2 class="modal-title">When You Feel Bad</h2>
            <button type="button" class="btn-close" onclick="closeModal('feel-bad')"></button>
        </div>
        <div class="modal-body">
            <div class="letter-paper p-4">
                <p>My love,</p>
                <p>When you feel bad, remember...</p>
                <div class="letter-paper">
                    <p>My dearest Lee,</p>
                    <p>When you feel bad, remember how much I care about you,</p>
                    <p>Life won't be perfect, especially one with me, but I can always tell you that it gets better</p>
                    <p>even if you are upset with me, if you need me to be there with you through the tough times, I will be there</p>
                    <p>Forever yours,</p>
                    <p>Antonio</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Letter 5 -->
<div id="are-anxious" class="letter-modal">
    <div class="letter-content">
        <div class="modal-header">
            <h2 class="modal-title">When You Are Anxious</h2>
            <button type="button" class="btn-close" onclick="closeModal('are-anxious')"></button>
        </div>
        <div class="modal-body">
            <div class="letter-paper p-4">
                <p>My love,</p>
                <p>When you are anxious, remember...</p>
                <div class="letter-paper">
                    <p>My dearest Lee,</p>
                    <p>When you are anxious, remember that this will pass,</p>
                    <p>You may be anxious about family, education, career, anything</p>
                    <p>But you are never alone, you have a loving group of friends, (from what I understand) a loving mother, and Winter and Kana</p>
                    <p>You are never alone, you always have someone to lean on, and how you feel will get better mi amor</p>
                    <p>Forever yours,</p>
                    <p>Antonio</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Letter 6 -->
<div id="feel-shame" class="letter-modal">
    <div class="letter-content">
        <div class="modal-header">
            <h2 class="modal-title">When You Feel Shame</h2>
            <button type="button" class="btn-close" onclick="closeModal('feel-shame')"></button>
        </div>
        <div class="modal-body">
            <div class="letter-paper p-4">
                <p>My love,</p>
                <p>When you feel shame, remember...</p>
                <div class="letter-paper">
                    <p>My dearest Lee,</p>
                    <p>When you feel shame, remember how much good you do,</p>
                    <p>You won't always feel perfect with yourself, nobody does, but when you are ashamed remember that you also have many reasons to feel pride</p>
                    <p>You make everyone's life better, I've seen and felt it firsthand, never doubt yourself as a person, I am always impressed with you</p>
                    <p>Forever yours,</p>
                    <p>Antonio</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Letter 7 -->
<div id="struggle-with-school" class="letter-modal">
    <div class="letter-content">
        <div class="modal-header">
            <h2 class="modal-title">When You Are Struggling With School Or Work</h2>
            <button type="button" class="btn-close" onclick="closeModal('struggle-with-school')"></button>
        </div>
        <div class="modal-body">
            <div class="letter-paper p-4">
                <p>My love,</p>
                <p>When you struggle with school or work, remember...</p>
                <div class="letter-paper">
                    <p>My dearest Lee,</p>
                    <p>When you struggle with school or work, remember that everyone struggles, it's normal and not a source of shame, no matter how stressful it may feel</p>
                    <p>You are such a smart girl and such a hard working girl it's hard to imagine someone like you even struggles with that, but remember you aren't alone, I'm here and so are your friends</p>
                    <p>Forever yours,</p>
                    <p>Antonio</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Letter 8 -->
<div id="struggle-with-family" class="letter-modal">
    <div class="letter-content">
        <div class="modal-header">
            <h2 class="modal-title">When You Struggle With Your Family Or Friends</h2>
            <button type="button" class="btn-close" onclick="closeModal('struggle-with-family')"></button>
        </div>
        <div class="modal-body">
            <div class="letter-paper p-4">
                <p>My love,</p>
                <p>When you struggle with your friends and family, remember...</p>
                <div class="letter-paper">
                    <p>My dearest Lee,</p>
                    <p>When you struggle with those close to you, remember that they are often struggling with you</p>
                    <p>Not everyone is going to be smart enough to realize how amazing you make their life, but to those that do; no matter the argument make sure you treat them like your friends, I'm sure they'll do the same</p>
                    <p>I Love you, I'm always here to listen, these conflicts will happen but always remember you aren't alone, and if someone treats you badly, you hold no obligation</p>
                    <p>Forever yours,</p>
                    <p>Antonio</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Letter 9 -->
<div id="struggling-with-yourself" class="letter-modal">
    <div class="letter-content">
        <div class="modal-header">
            <h2 class="modal-title">When You Are Struggling With Yourself</h2>
            <button type="button" class="btn-close" onclick="closeModal('struggling-with-yourself')"></button>
        </div>
        <div class="modal-body">
            <div class="letter-paper p-4">
                <p>My love,</p>
                <p>When you feel low with yourself, remember...</p>
                <div class="letter-paper">
                    <p>My dearest Lee,</p>
                    <p>When you struggle with yourself, if you struggle with how you look or how you feel about your actions or just yourself,</p>
                    <p>Remember that I Love you for you, and many many other people Love you for you as well, You are the prettiest, smartest, most hard working girl I know</p>
                    <p>You aren't always going to be proud of yourself, but please go easy on my girl, she's trying her best and I'm always so proud of her</p>
                    <p>Forever yours,</p>
                    <p>Antonio</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Letter 10 -->
<div id="feel-great" class="letter-modal">
    <div class="letter-content">
        <div class="modal-header">
            <h2 class="modal-title">When You Feel Great</h2>
            <button type="button" class="btn-close" onclick="closeModal('feel-great')"></button>
        </div>
        <div class="modal-body">
            <div class="letter-paper p-4">
                <p>My love,</p>
                <p>When you feel great, remember...</p>
                <div class="letter-paper">
                    <p>My dearest Lee,</p>
                    <p>When you feel great, make sure you know you have every reason to</p>
                    <p>You work so hard at home, at school, at working, at anything really (me especially)</p>
                    <p>Always take the time to appreciate yourself the way I try to appreciate you, I Love you</p>
                    <p>Forever yours,</p>
                    <p>Antonio</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Letter 11 -->
<div id="feel-hungry" class="letter-modal">
    <div class="letter-content">
        <div class="modal-header">
            <h2 class="modal-title">When You Are Hungry</h2>
            <button type="button" class="btn-close" onclick="closeModal('feel-hungry')"></button>
        </div>
        <div class="modal-body">
            <div class="letter-paper p-4">
                <p>My love,</p>
                <p>When you feel hungry, remember...</p>
                <div class="letter-paper">
                    <p>My dearest Lee,</p>
                    <p>Please eat</p>
                    <p>Ideally some kind of animal product is involved</p>
                    <p>Forever yours,</p>
                    <p>Antonio</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Letter 12 -->
<div id="feel-proud" class="letter-modal">
    <div class="letter-content">
        <div class="modal-header">
            <h2 class="modal-title">When You Are Proud</h2>
            <button type="button" class="btn-close" onclick="closeModal('feel-proud')"></button>
        </div>
        <div class="modal-body">
            <div class="letter-paper p-4">
                <p>My love,</p>
                <p>When you feel proud, remember...</p>
                <div class="letter-paper">
                    <p>My dearest Lee,</p>
                    <p>You deserve to feel proud of yourself, I always see how strong and hard-working you are with the people in your life and the things you do</p>
                    <p>Remember that I am always proud of you, and you should also be proud of you</p>
                    <p>Always be grateful for the people in your life that have helped you and always be proud of yourself</p>
                    <p>Forever yours,</p>
                    <p>Antonio</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Letter 13 -->
<div id="no-sleep" class="letter-modal">
    <div class="letter-content">
        <div class="modal-header">
            <h2 class="modal-title">When You Can't Sleep</h2>
            <button type="button" class="btn-close" onclick="closeModal('no-sleep')"></button>
        </div>
        <div class="modal-body">
            <div class="letter-paper p-4">
                <p>My love,</p>
                <p>When you can't sleep, remember...</p>
                <div class="letter-paper">
                    <p>My dearest Lee,</p>
                    <p>You shouldn't even be reading this if you are supposed to be sleeping right now</p>
                    <p>But you know very well I'm just a call away, if you even needed me to, I'd drive up at a moments notice</p>
                    <p>I Love you, please close your eyes and call me if you need me</p>
                    <p>Forever yours,</p>
                    <p>Antonio</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Letter 14 -->
<div id="want-me-close" class="letter-modal">
    <div class="letter-content">
        <div class="modal-header">
            <h2 class="modal-title">When You Want Me Close</h2>
            <button type="button" class="btn-close" onclick="closeModal('want-me-close')"></button>
        </div>
        <div class="modal-body">
            <div class="letter-paper p-4">
                <p>My love,</p>
                <p>When you want me close, remember...</p>
                <div class="letter-paper">
                    <p>My dearest Lee,</p>
                    <p>I Love you, I also Love that you wanted to open this one,</p>
                    <p>I probably want you close right now too, but you'll see me so soon, and I'll make sure to hold and Love you</p>
                    <p>Unless you really need me right now, you know I'm always here for you, I miss how you feel on my skin</p>
                    <p>Forever yours,</p>
                    <p>Antonio</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Letter 15 -->
<div id="want-to-laugh" class="letter-modal">
    <div class="letter-content">
        <div class="modal-header">
            <h2 class="modal-title">When You Want To Laugh</h2>
            <button type="button" class="btn-close" onclick="closeModal('want-to-laugh')"></button>
        </div>
        <div class="modal-body">
            <div class="letter-paper p-4">
                <p>My love,</p>
                <p>When you want to laugh and smile, remember...</p>
                <div class="letter-paper">
                    <p>My dearest Lee,</p>
                    <p>You really needed to open this one? you have a camera roll full of ridiculous pictures and videos of me?</p>
                    <p>You are such a silly girl, I Love you so much, you are MY gook after all</p>
                    <p>Forever yours,</p>
                    <p>Antonio</p>
                    <p>P.S. Charlie Hitler</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Letter 16 -->
<div id="think-future" class="letter-modal">
    <div class="letter-content">
        <div class="modal-header">
            <h2 class="modal-title">When You Think About Our Future</h2>
            <button type="button" class="btn-close" onclick="closeModal('think-future')"></button>
        </div>
        <div class="modal-body">
            <div class="letter-paper p-4">
                <p>My love,</p>
                <p>When you think about our future, remember...</p>
                <div class="letter-paper">
                    <p>My dearest Lee,</p>
                    <p>It makes me happy you think about how our Love will look in the future,</p>
                    <p>Whatever we are doing, wherever we are, I Know we'll be happy together, I'll work very hard to make it all reality</p>
                    <p>Everything will work out, as long as it's us</p>
                    <p>Forever yours,</p>
                    <p>Antonio</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Letter 17 -->
<div id="feel-lonely" class="letter-modal">
    <div class="letter-content">
        <div class="modal-header">
            <h2 class="modal-title">When You Feel Lonely</h2>
            <button type="button" class="btn-close" onclick="closeModal('feel-lonely')"></button>
        </div>
        <div class="modal-body">
            <div class="letter-paper p-4">
                <p>My love,</p>
                <p>When you feel lonely, remember...</p>
                <div class="letter-paper">
                    <p>My dearest Lee,</p>
                    <p>I'll be honest, I can't really see you opening this one, you are always attracting such great attention</p>
                    <p>I always see you with friends, with people who want to be around you. You are amazing that way</p>
                    <p>You know very well that if you need me, I'm there. If it's you waiting for me, I'm sure I'll be done with whatever soon</p>
                    <p>Forever yours,</p>
                    <p>Antonio</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Letter 18 -->
<div id="need-motivation" class="letter-modal">
    <div class="letter-content">
        <div class="modal-header">
            <h2 class="modal-title">When You Need Motivation</h2>
            <button type="button" class="btn-close" onclick="closeModal('need-motivation')"></button>
        </div>
        <div class="modal-body">
            <div class="letter-paper p-4">
                <p>My love,</p>
                <p>When you need motivation, remember...</p>
                <div class="letter-paper">
                    <p>My dearest Lee,</p>
                    <p>When you need to feel motivated, remember just how hardworking you are and how far it has taken you,</p>
                    <p>Bachelor's degree, Engineering exam, being such a strong and smart rock climber, you always amaze me, you should go out and amaze you too</p>
                    <p>If all else fails, I know you like to listen to music?</p>
                    <p>Forever yours,</p>
                    <p>Antonio</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Letter 19 -->
<div id="are-far" class="letter-modal">
    <div class="letter-content">
        <div class="modal-header">
            <h2 class="modal-title">When You Are Far From Me</h2>
            <button type="button" class="btn-close" onclick="closeModal('are-far')"></button>
        </div>
        <div class="modal-body">
            <div class="letter-paper p-4">
                <p>My love,</p>
                <p>When you are far, remember...</p>
                <div class="letter-paper">
                    <p>My dearest Lee,</p>
                    <p>I know you are so far from me, it'll be a while before I can hold and hug you,</p>
                    <p>but it's all temporary, I know it sucks, I also miss touching you,</p>
                    <p>but you'll see me soon, and I'll make sure to make up for the difference, hang in there for me</p>
                    <p>Forever yours,</p>
                    <p>Antonio</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Letter 20 -->
<div id="feel-crazy" class="letter-modal">
    <div class="letter-content">
        <div class="modal-header">
            <h2 class="modal-title">When You Feel Crazy</h2>
            <button type="button" class="btn-close" onclick="closeModal('feel-crazy')"></button>
        </div>
        <div class="modal-body">
            <div class="letter-paper p-4">
                <p>My love,</p>
                <p>When you feel crazy and unheard, remember...</p>
                <div class="letter-paper">
                    <p>My dearest Lee,</p>
                    <p>You might be spiraling, you might be crying and thinking of doing something less than ideal,</p>
                    <p>but no matter how upset you are, you aren't crazy, how you feel is always valid, don't take this as an excuse to do something silly</p>
                    <p>but know that it's all going to be ok, these feelings will pass, especially when you surround yourself with good and caring people, you are not crazy I promise</p>
                    <p>Forever yours,</p>
                    <p>Antonio</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Letter 21 -->
<div id="feel-unheard" class="letter-modal">
    <div class="letter-content">
        <div class="modal-header">
            <h2 class="modal-title">When You Feel Unheard</h2>
            <button type="button" class="btn-close" onclick="closeModal('feel-unheard')"></button>
        </div>
        <div class="modal-body">
            <div class="letter-paper p-4">
                <p>My love,</p>
                <p>When you feel unheard, remember...</p>
                <div class="letter-paper">
                    <p>My dearest Lee,</p>
                    <p>I know how often it hurts to feel unheard, to be treated like your words or thoughts don't matter</p>
                    <p>I know even I can contribute to these feelings, sometimes I take a moment to understand you, but I am always trying to understand you. There are always people in your life that want to understand you</p>
                    <p>This feeling sucks, I know, but if you ever need to, I'll always listen to whatever you need to say</p>
                    <p>Forever yours,</p>
                    <p>Antonio</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Letter 22 -->
<div id="stomach-hurts" class="letter-modal">
    <div class="letter-content">
        <div class="modal-header">
            <h2 class="modal-title">When Your stomach hurts</h2>
            <button type="button" class="btn-close" onclick="closeModal('stomach-hurts')"></button>
        </div>
        <div class="modal-body">
            <div class="letter-paper p-4">
                <p>My love,</p>
                <p>When your stomach hurts, remember...</p>
                <div class="letter-paper">
                    <p>My dearest Lee,</p>
                    <p>please ru your stomach, in a circular motion like I taught you</p>
                    <p>50 bucks says you just need to fart</p>
                    <p>Forever yours,</p>
                    <p>Antonio</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Letter 23 -->
<div id="feel-like-child" class="letter-modal">
    <div class="letter-content">
        <div class="modal-header">
            <h2 class="modal-title">When You Feel Like A Child</h2>
            <button type="button" class="btn-close" onclick="closeModal('feel-like-child')"></button>
        </div>
        <div class="modal-body">
            <div class="letter-paper p-4">
                <p>My love,</p>
                <p>When you feel like a child, remember...</p>
                <div class="letter-paper">
                    <p>My dearest Lee,</p>
                    <p>You may feel like you are a child for doing or feeling a certain way, but you are not a child</p>
                    <p>you are a big girl with big feelings sometimes, and you just want to let it out, I'm always more than happy to listen and take care of you</p>
                    <p>but there is no reason to beat yourself up, you can always be my baby ;) (this is a wink)</p>
                    <p>Forever yours,</p>
                    <p>Antonio</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Letter 24 -->
<div id="feel-stupid" class="letter-modal">
    <div class="letter-content">
        <div class="modal-header">
            <h2 class="modal-title">When You Feel Stupid</h2>
            <button type="button" class="btn-close" onclick="closeModal('feel-stupid')"></button>
        </div>
        <div class="modal-body">
            <div class="letter-paper p-4">
                <p>My love,</p>
                <p>When you feel stupid, remember...</p>
                <div class="letter-paper">
                    <p>My dearest Lee,</p>
                    <p>You obviously aren't stupid, it goes without saying really</p>
                    <p>You are the smartest, hardest working girl, and I miss you so much, I don't know who is telling you this nonsense that you are stupid,</p>
                    <p>But you are very smart, my smart girl</p>
                    <p>Forever yours,</p>
                    <p>Antonio</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Letter 25 -->
<div id="feel-judged" class="letter-modal">
    <div class="letter-content">
        <div class="modal-header">
            <h2 class="modal-title">When You Feel Judged</h2>
            <button type="button" class="btn-close" onclick="closeModal('feel-judged')"></button>
        </div>
        <div class="modal-body">
            <div class="letter-paper p-4">
                <p>My love,</p>
                <p>When you feel judged, remember...</p>
                <div class="letter-paper">
                    <p>My dearest Lee,</p>
                    <p>Whoever is judging you for whatever it may be, must be so bored or upset with their own life</p>
                    <p>There are people in your life who will never judge you (me included), you are always safe with those closest to you</p>
                    <p>But whatever you are being judged for, they are too much of a bum to notice it on themselves</p>
                    <p>Forever yours,</p>
                    <p>Antonio</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Letter 25 -->
<div id="feel-blamed" class="letter-modal">
    <div class="letter-content">
        <div class="modal-header">
            <h2 class="modal-title">When You Feel Blamed</h2>
            <button type="button" class="btn-close" onclick="closeModal('feel-blamed')"></button>
        </div>
        <div class="modal-body">
            <div class="letter-paper p-4">
                <p>My love,</p>
                <p>When you feel blamed, remember...</p>
                <div class="letter-paper">
                    <p>My dearest Lee,</p>
                    <p>Sometimes, we are blamed and it overwhelms our feelings of guilt or shame or a mix of many things</p>
                    <p>It's a rough thing, even if we know we aren't doing our best, we are all guilty of that, I'm sorry those feelings are coming out so negatively</p>
                    <p>But I promise you, whatever it may be, you are still you and I know you have a lot to feel proud for, always remember yourself, it's ok that bad feelings exist, they will come and go, I'll do my best to fix it when you say "I need you"</p>
                    <p>Forever yours,</p>
                    <p>Antonio</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Letter 26 -->
<div id="feel-stuck" class="letter-modal">
    <div class="letter-content">
        <div class="modal-header">
            <h2 class="modal-title">When You Feel Stuck</h2>
            <button type="button" class="btn-close" onclick="closeModal('feel-stuck')"></button>
        </div>
        <div class="modal-body">
            <div class="letter-paper p-4">
                <p>My love,</p>
                <p>When you feel stuck, remember...</p>
                <div class="letter-paper">
                    <p>My dearest Lee,</p>
                    <p>It can sometimes feel like hitting a boulder with your fist, knowing the rock won't move but you have nothing else to do</p>
                    <p>But know it's never like that forever, you are never stuck, not with your feelings, people, or anything else, you always have a solution so long as you don't give up</p>
                    <p>And you'll always have me around for whenever you do feel like giving up, I'll support you until you are back on your feet</p>
                    <p>Forever yours,</p>
                    <p>Antonio</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script th:src="@{/js/open-when.js}"></script>
</body>
</html>